ion-label strong {
    display: block;
}

.notification-icon {
    font-size: 45px;
}

ion-item {
    border-bottom: 1px solid var(--ion-color-medium);
}

.title {
    font-size: 12px;
}

.note {
    font-size: 10px;
}