<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="black">
    <ion-buttons class="back-icon" slot="start">
      <ion-icon color="white" name="arrow-back" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <ion-title class="header-title">Popular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="grey">
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let item of allPopular">
        <ion-col size="4" (click)="clickOnPreviewClips()">
          <img [src]="item.image" alt="">
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>