<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="black">
    <ion-buttons class="back-icon" slot="start">
      <ion-icon color="white" name="arrow-back" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <ion-title class="header-title">Watchlist</ion-title>
   
  </ion-toolbar>
   <!-- Segment for Filtering -->
  <ion-toolbar  color="black">
    <ion-segment mode="md" color="pink" scrollable="true" [(ngModel)]="selectedType" (ionChange)="filterMedia()">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ng-container *ngFor="let category of gs.allCategory">
        <ion-segment-button [value]="category.id">
          <ion-label>{{category.name | uppercase}}</ion-label>
        </ion-segment-button>
      </ng-container>
    
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="black">
    <ion-item-sliding class="media-card" *ngFor="let item of filteredMediaData">
      <ion-item color="grey"  (click)="clickOnPreviewClips({video_id:item.video_id})">
        <ion-grid>
          <ion-row>
            <ion-col size="4" class="media-image">
              <img [src]="videoImageURl + item.thumb_name" [alt]="item.title" />
            </ion-col>

            <ion-col size="8" class="media-details">
              <ion-card-title class="media-title">{{ item.title }}</ion-card-title>
              <p class="media-category">{{ item.category_name }}</p>
              <p class="media-language">{{ item.channel_name }}</p>
              <p class="media-category">{{ item.actors.join(', ') }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="removeFromWatchlist(item)" color="pink" expandable>
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
</ion-content>
